.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin: 30px auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
  
}

.feedback-form button {
  width: 95px;
  padding: 8px 16px;
  cursor: pointer;
  align-self: left;
  border-radius: 8px;
  background-color: #4e75ff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
  border: none;
}
.feedback-form button:hover,.feedback-form button:focus {
background-color: #6C8CFF;
border: none;
}

input,
textarea {
margin-top: 8px;
width: 100%;
padding: 8px;
border-radius:4px;
font: inherit;
border: 1px solid #808080;
color: #2E2F42;
}
input:active,
textarea:active{
border: 1px solid #808080;
}
input:hover,
textarea:hover {
  border: 1px solid #000000
}


textarea {
  height: 80px;
  resize: none;
}
